  <!-- footer -->
  <section class="py-5">
    <div class="container-lg ">
      <div class="row justify-content-center row-cols-1 row-cols-sm-3 row-cols-lg-5">
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#package"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Transfer</h5>
              <p class="card-text">Disponibilizamos de frotas novas para melhor experiência.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#secure"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Seguro o pagamento</h5>
              <p class="card-text">Você ira pagar diretamente aos nosso agenciados.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#quality"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Qualidade Garantida</h5>
              <p class="card-text">Nosso serviços são de execelência.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#savings"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Passeios Verificados</h5>
              <p class="card-text">Nossos guias são altamente treinados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="py-5">
    <div class="container-lg">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h2 class="display-1 ls-1"><span class="fw-bold" style="color:#000">Potitour.</span></h2>
            <div class="social-links mt-3">
              <ul class="d-flex list-unstyled gap-2">
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li> -->
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
                <!-- <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16">
                      <use xlink:href="#amazon"></use>
                    </svg>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Potitour</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="about.html" class="nav-link">Sobre nós</a>
              </li>

              <li class="menu-item">
                <a href="contact.html" class="nav-link">Fale conosco</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Outros Links</h5>
            <ul id="search-list" class="menu-list list-unstyled">
             
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Para Nosso Clientes</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link">FAQ</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Nosso Contato</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Politicas de Privacidade</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Cookie de Acesso</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Politica das Informações</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Siga-nos Nas Redes Sociais</h5>
            <p>Lá postamos o que há de melhor de nosso serviços turistico.</p>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <!-- End Footer -->
  <div id="footer-bottom">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 copyright">
          <p>© 2024 POTIToUR. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end">
          <p>Criado por <a href="https://mirandasolft.com.br">MSOFT</a></p>
        </div>
      </div>
    </div>
  </div>
