  <section class="video-section">
    <!-- <video id="backVideo" autoplay muted loop class="background-video">
      <source src="videos/pota-negra-bakgroud-video-_1_.webm" type="video/mp4">
    </video> -->
    <img src="images/background.jpg" alt="Default Background" class="default-background" />
    <div class="container-lg">
      <div class="row text-md-end text-center pt-2">
        <div id="custom_translate">
          <a href="javascript:void(0)" onclick="changeLanguage('pt')">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/05/Flag_of_Brazil.svg" alt="Português" width="30"
              height="20">
          </a>
          <a href="javascript:void(0)" onclick="changeLanguage('en')">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="English"
              width="30" height="20">
          </a>
          <a href="javascript:void(0)" onclick="changeLanguage('es')">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg" alt="Español" width="30"
              height="20">
          </a>
          <a href="javascript:void(0)" id="google_translate_element"></a>
        </div>
      </div>
      <div class="row" style="height: 710px;">
        <div class="col-lg-6 pt-5 mt-5">
          <a href="/" style="text-decoration: none;"><h2 class="display-1 ls-1"><span class="fw-bold" style="color:#fff">Potitour.</span></h2></a>
          <h2 class="display-1 ls-1"><span class="fw-bold" style="color:#f95f09">Turismo e Aventura na veia!</span></h2>
        </div>
      </div>
    </div>
  </section>

