<!-- Modelo do modal -->
<div id="defautl-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="favorite-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 400px; overflow: auto;">
                <div id="modal-items">
                    <p style="text-align: center;">Nenhum dado disponível.</p>
                </div>
            </div>
        </div>
    </div>
</div>